@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 微軟正黑體, sans-serif;
}

li, a {
  list-style: none;
  text-decoration: none; /* 去掉底線 */
}

header {
  height: 35px;
  background-color: #a88f67;
  display: flex;
  justify-content: space-between;
}
header .header_left {
  display: flex;
  position: relative;
  align-items: center;
}
header .header_left > li {
  list-style: none;
  text-decoration: none; /* 去掉底線 */
  margin: 10px;
}
header .header_left > li > a {
  font-size: 15px;
  color: white;
  text-decoration: none; /* 去掉底線 */
}
header .header_left .ham {
  display: none;
  margin: 15px 0 0 0;
}
header .header_left .ham > input {
  display: none;
}
header .header_left .ham > input::checked ~ .menu {
  max-height: 300px;
}
header .header_left .ham > label {
  line-height: 50px;
  cursor: pointer;
}
header .header_left .ham #burger:checked + .ham_menu {
  display: block;
}
header .header_left .ham .ham_menu {
  width: 250px;
  z-index: 2;
  clear: both;
  background-color: #fff;
  display: none;
  position: absolute;
  padding-left: 10px;
  left: 0;
  top: 20px;
}
header .header_left .ham .ham_menu > li {
  padding: 5px;
  border-bottom: 1px solid #9A9A9A;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 0;
  font-size: 16px;
  color: #000;
  justify-content: space-between;
  cursor: pointer;
}
header .header_left .ham .ham_menu > li > label {
  display: flex;
  padding-right: 50px;
  cursor: pointer;
}
header .header_left .ham .ham_menu > li > label > div {
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}
header .header_left .ham .ham_menu > li > label > img {
  width: 25px;
  height: 25px;
  margin: auto 10px;
  display: flex;
}
header .header_left .ham .ham_menu > li > input {
  display: none;
}
header .header_left .ham .ham_menu > li .ham_menu1 {
  display: none;
}
header .header_left .ham .ham_menu > li .ham_menu1 > li {
  height: 25px;
  margin: 10px 0 0 0;
  border-bottom: 1px solid #9A9A9A;
}
header .header_left .ham .ham_menu > li .ham_menu1 > li > a {
  color: #000;
}
header .header_left .ham .ham_menu > li .ham_menu1 > hr {
  width: 99%;
  position: absolute;
  left: 0;
  margin: 0 0;
}
header .header_left .ham .ham_menu > li #list1:checked + .ham_menu1 {
  display: block;
}
header .header_left .ham .ham_menu > li #list2:checked + .ham_menu1 {
  display: block;
}
header .header_left .ham .ham_menu > li #list3:checked + .ham_menu1 {
  display: block;
}
header .header_left .ham .ham_menu > li #list4:checked + .ham_menu1 {
  display: block;
}
header .header_left .ham .ham_menu > li #list5:checked + .ham_menu1 {
  display: block;
}
header .header_left .ham .ham_menu > li #list6:checked + .ham_menu1 {
  display: block;
}
header .header_left .ham .ham_menu > li #list7:checked + .ham_menu1 {
  display: block;
}
header .header_left .ham .ham_menu > li #list8:checked + .ham_menu1 {
  display: block;
}
header .header_left .SEARCH > input {
  display: none;
}
header .header_left .SEARCH > input::checked ~ .menu {
  max-height: 300px;
}
header .header_left .SEARCH > label > img {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
}
header .header_left .SEARCH #search:checked + .search_div {
  display: block;
}
header .header_left .SEARCH .search_div {
  z-index: 999;
  display: none;
  width: auto;
  height: 30px;
  position: absolute;
}
header .header_left .SEARCH .search_div > form {
  display: flex;
}
header .header_left .SEARCH .search_div > form > input:first-of-type {
  width: 200px;
  height: 30px;
  border: 1px solid #8B8B8B;
  font-size: 16px;
  outline: none;
}
header .header_left .SEARCH .search_div > form > input:first-of-type:focus {
  border: 1px solid #ccc;
}
header .header_left .SEARCH .search_div > form > input:last-of-type {
  /*button按钮border并不占据外围大小，设置高度42px*/
  width: 50px;
  height: auto;
  background: #a88f67;
  border: 1px solid #bc9440;
  color: #fff;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
header .header_right {
  display: flex;
  left: 55%;
  align-items: center;
  margin: 0 0;
}
header .header_right > img, header .header_right > a > img {
  display: none;
}
header .header_right > li {
  list-style: none;
  text-decoration: none; /* 去掉底線 */
  margin: 10px;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .header_right > li > a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none; /* 去掉底線 */
}

nav .nav_top {
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
nav .nav_top > div {
  position: relative;
  left: 20%;
}
nav .nav_top > ul {
  display: flex;
  align-items: flex-end;
  margin: 0;
}
nav .nav_top > ul > li {
  margin: 0 10px;
}
nav .nav_top > ul > li > a {
  color: black;
  font-weight: bold;
}
nav .nav_top > ul > li .menu {
  display: flex;
  display: none;
  width: 100%;
  height: 5%;
  justify-content: end;
  align-items: center;
  position: absolute;
  left: -3%;
}
nav .nav_top > ul > li .menu > li {
  margin: 5px 20px 0 0;
}
nav .nav_top > ul > li .menu > li > a {
  font-size: 14px;
  color: #757575;
}
nav .nav_top > ul > li:hover .menu {
  display: block;
  display: flex;
}
nav .nav_top > ul > li:hover .menu > li {
  margin: 0 5px;
}
nav .nav_top > ul > li:hover .menu > li:hover {
  border-bottom: 1px solid #757575;
}
nav > hr {
  margin: 10px 0 0 0;
}
nav .nav_bottom {
  padding: 18px;
  border-bottom: 2px solid #000;
}

footer {
  color: #fff;
  background-color: #000;
  padding: 30px 0 30px 0;
}
footer .footer_top {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
footer .footer_top .icon {
  display: flex;
  align-items: center;
}
footer .footer_top .icon > a {
  margin-right: 20px;
}
footer .footer_bottom {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  justify-content: space-between; /* 平均分配空间 */
}
footer .footer_bottom .first {
  font-size: 14px;
  width: 100%;
  flex: 1; /* 平均分配宽度 */
}
footer .footer_bottom .LTD {
  color: #8B8B8B;
  font-size: 12px;
}
footer .footer_bottom .second, footer .footer_bottom .third, footer .footer_bottom .forth, footer .footer_bottom .fifth {
  width: 15%;
  font-size: 14px;
  margin: 0 -10px;
}
footer .footer_bottom .second > ul, footer .footer_bottom .third > ul, footer .footer_bottom .forth > ul, footer .footer_bottom .fifth > ul {
  margin: 0 -40px;
  list-style-type: none;
}
footer .footer_bottom .second > ul > li, footer .footer_bottom .third > ul > li, footer .footer_bottom .forth > ul > li, footer .footer_bottom .fifth > ul > li {
  margin: 5px 0;
}
footer .footer_bottom .second > ul > li > a, footer .footer_bottom .third > ul > li > a, footer .footer_bottom .forth > ul > li > a, footer .footer_bottom .fifth > ul > li > a {
  color: #fff;
}
footer .footer_bottom .second > ul > li > a:hover, footer .footer_bottom .third > ul > li > a:hover, footer .footer_bottom .forth > ul > li > a:hover, footer .footer_bottom .fifth > ul > li > a:hover {
  border-bottom: 1px solid #fff;
}
footer .footer_bottom .sixth {
  color: #8B8B8B;
  width: 20%;
  font-size: 14px;
}
footer .footer_bottom .sixth > div {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index_home .p1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.index_home .p2 {
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-top: -40px;
}
.index_home > div > ul {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.index_home > div > ul > li {
  font-size: 18px;
  width: 150px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  border-right: none;
}
.index_home > div > ul > li:last-child {
  border-right: 1px solid #CCCCCC;
}
.index_home > div > ul > li:hover {
  background-color: #DED1B4;
}
.index_home > div > ul > li > a {
  color: #000;
}
.index_home > div > div {
  padding: 0 20%;
}
.index_home > div > div > div {
  width: auto;
  margin: 20px;
  display: flex;
  border: 7px solid #DED1B4;
}
.index_home > div > div > div .c1 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.index_home > div > div > div > div {
  width: 50%;
  padding: 50px;
}
.index_home > div > div > div > div > p {
  display: flex;
  justify-content: center;
}
.index_home > div > div > div > div .p3 {
  font-size: 22px;
  font-weight: bold;
}
.index_home > div > div > div > div .p4 {
  font-weight: bold;
}
.index_home > div > div > div > div .p5 {
  font-size: 15px;
  text-align: center;
  margin: 40px 0;
}
.index_home > div > div > div > div > div {
  display: flex;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
}
.index_home > div > div > div > div > div > p {
  height: 20px;
  border: 1px solid #9A9A9A;
  border-right: none;
  padding: 6px 40px;
}
.index_home > div > div > div > div > div > a {
  border: 1px solid #9A9A9A;
  padding: 5px 10px;
}
.index_home > div > div > div > div > div > a:hover {
  background-color: #DED1B4;
}
.index_home > div > div > div:last-child {
  border: none;
}
.index_home > div > div .small .small4 {
  padding: 0;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #DED1B4;
}
.index_home > div > div .small .small4 > a > img {
  width: 100%;
}

.story {
  background-color: #EDEDED;
  display: flex;
  padding: 30px;
}
.story > div {
  width: 50%;
  margin-right: 10px;
}
.story > div > img {
  width: 100%;
}
.story .story_right {
  width: 50%;
  margin-left: 10px;
  background-color: #fff;
}
.story .story_right .story_title {
  color: #757575;
  padding: 50px;
  display: flex;
  justify-content: center;
}
.story .story_right .story_title .c1, .story .story_right .story_title .c2, .story .story_right .story_title .c3 {
  width: auto;
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
}
.story .story_right .story_title .c1:hover, .story .story_right .story_title .c2:hover, .story .story_right .story_title .c3:hover {
  color: #000;
  border-bottom: 3px dashed #000;
}
.story .story_right .story_title .c1 > a, .story .story_right .story_title .c2 > a, .story .story_right .story_title .c3 > a {
  color: #757575;
}
.story .story_right > div .p1 {
  display: flex;
  justify-content: center;
  font-size: 42px;
  margin-top: 0px;
}
.story .story_right > div .p2 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: -40px;
  font-weight: bold;
}
.story .story_right > div .p3 {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 20px 80px;
  color: #333;
}
.story .story_right > p {
  display: flex;
  justify-content: center;
}
.story .story_right > p > a {
  color: #000;
  border: 1px solid #000;
  background-color: #FBFAF6;
  padding: 7px;
}

.media {
  background-color: #DED1B4;
  display: flex;
  height: auto;
}
.media > iframe {
  width: 50%;
  height: auto;
}
.media > div {
  width: 25%;
  position: relative;
}
.media > div > img {
  width: 100%;
}
.media > div .p1 {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 30%;
  text-align: center;
  font-size: 58px;
  text-shadow: 1px 1px 3px #000000;
}
.media > div > a .p2 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #fff;
  position: absolute;
  top: 57%;
  left: 40%;
  font-size: 16px;
  padding: 8px 25px;
}

.posts {
  padding: 50px 25%;
  background-color: #EDEDED;
}
.posts > div .p1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.posts > div .p2 {
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-top: -40px;
}
.posts .posts_content {
  display: flex;
  justify-content: center;
}
.posts .posts_content > div {
  margin: 20px;
  background-color: #fff;
}
.posts .posts_content > div > img {
  width: 100%;
}
.posts .posts_content > div > div {
  padding: 25px;
}
.posts .posts_content > div > div .p3 {
  font-size: 22px;
  margin: -3px 0;
}
.posts .posts_content > div > div .p4 {
  color: #7F8082;
  margin: 10px 0;
}
.posts .posts_content > div > div .p5 {
  color: #333;
  margin: -5px 0 20px 0;
}

.product_home {
  padding: 10px 20%;
  font-size: 14px;
}
.product_home .product_home_first {
  color: #9A9A9A;
}
.product_home .product_home_first > a {
  color: #9A9A9A;
}
.product_home .product_home_first > a:hover {
  border-bottom: 1px solid #9A9A9A;
}
.product_home .product_home_second {
  height: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #9A9A9A;
}
.product_home .product_home_second > div {
  width: 50%;
}
.product_home .product_home_second > div > img {
  margin: 0 20%;
  padding: 5px 0;
}
.product_home .product_home_second > div {
  width: 50%;
}
.product_home .product_home_second > div .p1 {
  color: #333;
}
.product_home .product_home_second > div .p2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
.product_home .product_home_second > div .price {
  display: flex;
  margin: 30px 0;
  align-items: center;
}
.product_home .product_home_second > div .price > div {
  margin-right: 50px;
}
.product_home .product_home_second > div .price .price_first {
  font-size: 18px;
  font-weight: bold;
}
.product_home .product_home_second > div .price .price_third {
  color: #A88F67;
}
.product_home .product_home_second > div .add_cart {
  display: flex;
}
.product_home .product_home_second > div .add_cart .form-select {
  width: 20%;
  margin-right: 50px;
}
.product_home .product_home_second > div .add_cart .form-select:focus {
  box-shadow: 2px 2px 1px rgba(61, 128, 236, 0.5);
}
.product_home .product_home_second > div .add_cart > div {
  margin: 0 40px 0 0;
}
.product_home .product_home_second > div .btn {
  background-color: #000;
}
.product_home .product_home_second > div .btn:hover {
  background-color: #A88F67;
}
.product_home .product_home_second > div .icon {
  margin: 30px 0;
}
.product_home .product_home_second > div .icon > a > img {
  width: 35px;
  height: 35px;
  margin: 0 2px;
}

.product_free_home {
  padding: 10px 20%;
  font-size: 14px;
}
.product_free_home .product_home_first {
  color: #9A9A9A;
}
.product_free_home .product_home_first > a {
  color: #9A9A9A;
}
.product_free_home .product_home_first > a:hover {
  border-bottom: 1px solid #9A9A9A;
}
.product_free_home .forfree .forfree1 {
  margin: 50px 0 0 0;
}
.product_free_home .forfree .forfree1 > p {
  font-size: 24px;
  font-weight: bold;
}
.product_free_home .forfree .forfree1 .forfree_icon {
  display: flex;
  justify-content: end;
  align-items: center;
}
.product_free_home .forfree .forfree1 .forfree_icon > img {
  width: 28px;
  margin: 0 8px;
}
.product_free_home .forfree .forfree2 {
  margin: 15px 0;
}
.product_free_home .forfree .forfree2 > img {
  width: 100%;
}
.product_free_home .forfree .forfree3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #000;
  padding: 20px 20px;
}
.product_free_home .forfree .forfree3 > p {
  margin: 0 10px;
  width: auto;
  font-size: 28px;
  font-weight: bold;
}
.product_free_home .forfree .forfree3 > hr {
  height: 100%;
  width: 50px;
  transform: rotate(90deg);
  /* 旋转元素，将水平线变成垂直线 */
}
.product_free_home .forfree .forfree3 > div {
  margin: 0 10px;
}
.product_free_home .forfree .forfree3 > div > li {
  list-style-type: disc;
}
.product_free_home .forfree .forfree3 > div > li > span {
  color: #bc9440;
}
.product_free_home .product_home_second {
  height: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.product_free_home .product_home_second > div {
  width: 50%;
}
.product_free_home .product_home_second > div > img {
  margin: 0 20%;
  padding: 5px 0;
}
.product_free_home .product_home_second > div {
  width: 50%;
}
.product_free_home .product_home_second > div .p1 {
  color: #333;
}
.product_free_home .product_home_second > div .p2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
.product_free_home .product_home_second > div .price {
  display: flex;
  margin: 30px 0;
  align-items: center;
}
.product_free_home .product_home_second > div .price > div {
  margin-right: 50px;
}
.product_free_home .product_home_second > div .price .price_first {
  font-size: 18px;
  font-weight: bold;
}
.product_free_home .product_home_second > div .price .price_third {
  color: #A88F67;
}
.product_free_home .product_home_second > div .add_cart {
  display: flex;
}
.product_free_home .product_home_second > div .add_cart .form-select {
  width: 20%;
  margin-right: 50px;
}
.product_free_home .product_home_second > div .add_cart .form-select:focus {
  box-shadow: 2px 2px 1px rgba(61, 128, 236, 0.5);
}
.product_free_home .product_home_second > div .add_cart .modal {
  margin: 0 40px 0 0;
}
.product_free_home .product_home_second > div .btn {
  background-color: #000;
}
.product_free_home .product_home_second > div .btn:hover {
  background-color: #A88F67;
}
.product_free_home .product_home_second > div .icon {
  margin: 30px 0;
}
.product_free_home .product_home_second > div .icon > a > img {
  width: 35px;
  height: 35px;
  margin: 0 2px;
}

.join_home {
  padding: 50px 35%;
}
.join_home .join_top .title {
  font-weight: bold;
  font-size: 28px;
}
.join_home .join_top .join_content .name .name_0 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
.join_home .join_top .join_content .name .c_name {
  margin: 0 0 20px 0;
  position: relative;
}
.join_home .join_top .join_content .name .c_name .form-label {
  font-size: 14px;
  margin: 0 0;
}
.join_home .join_top .join_content .name .c_name .form-label > span {
  color: #999;
}
.join_home .join_top .join_content .name .c_name .form-control {
  width: 65%;
  border-radius: 0;
  height: 30px;
  font-size: 14px;
  padding: 0 5px;
}
.join_home .join_top .join_content .name .c_name input::-moz-placeholder {
  color: #A88F67;
}
.join_home .join_top .join_content .name .c_name input::placeholder {
  color: #A88F67;
}
.join_home .join_top .join_content .name .c_name .gender {
  display: flex;
  position: absolute;
  right: 0;
  top: 53%;
}
.join_home .join_top .join_content .name .c_name .gender > input {
  display: none;
}
.join_home .join_top .join_content .name .c_name .gender > label {
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.join_home .join_top .join_content .name .c_name .gender > label::before {
  content: " ";
  border: 1px solid #9A9A9A;
  border-radius: 20px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 2px;
}
.join_home .join_top .join_content .name .c_name .gender #male:checked + .male::after {
  content: " ";
  background-color: #9A9A9A;
  border-radius: 20px;
  display: inline-block;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 3px;
}
.join_home .join_top .join_content .name .c_name .gender #female:checked + .female::after {
  content: " ";
  background-color: #9A9A9A;
  border-radius: 20px;
  display: inline-block;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 72px;
}
.join_home .join_top .join_content .login .name_0 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
.join_home .join_top .join_content .login .c_name {
  margin: 0 0 20px 0;
}
.join_home .join_top .join_content .login .c_name .form-label {
  font-size: 14px;
  margin: 0 0;
}
.join_home .join_top .join_content .login .c_name .form-label > span {
  color: #999;
}
.join_home .join_top .join_content .login .c_name .form-control {
  border-radius: 0;
  height: 30px;
  font-size: 14px;
  padding: 0 5px;
}
.join_home .join_top .join_content .login .c_name input::-moz-placeholder {
  color: #A88F67;
}
.join_home .join_top .join_content .login .c_name input::placeholder {
  color: #A88F67;
}
.join_home .join_top .join_content .login .c_name_bir {
  margin: 0 0 20px 0;
}
.join_home .join_top .join_content .login .c_name_bir .form-label {
  font-size: 14px;
  margin: 0 0;
}
.join_home .join_top .join_content .login .c_name_bir .form-label > span {
  color: #999;
}
.join_home .join_top .join_content .login .c_name_bir .form-control {
  border-radius: 0;
  height: 30px;
  font-size: 14px;
  padding: 0 5px;
}
.join_home .join_top .join_content .login .c_name_bir > div {
  display: flex;
  align-items: center;
}
.join_home .join_top .join_content .login .c_name_bir > div .form-select {
  width: auto;
  height: 30px;
  margin: 0 10px;
  font-size: 14px;
}
.join_home .join_top .join_content .login .c_name_bir > div .form-select:first-child {
  margin-left: 0px;
}
.join_home .join_top .join_content .login .c_name_bir > div .form-select:focus {
  border-color: #ccc;
  box-shadow: 1px 1px 1px #ccc;
}
.join_home .join_top .join_content .login .c_name_bir > div .form-select > option {
  font-size: 14px;
}
.join_home .join_top .join_content .sub > div {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.join_home .join_top .join_content .sub > div > label > p {
  font-size: 14px;
  font-weight: bold;
  margin: auto 10px;
}
.join_home .join_top .join_content .send {
  background-color: #000;
  width: 30%;
  padding: 5px 0;
  margin-top: 40px;
  text-align: center;
  cursor: pointer;
}
.join_home .join_top .join_content .send:hover {
  background-color: #A88F67;
}
.join_home .join_top .join_content .send .w-200 {
  color: #fff;
  display: block; /* 将链接变为块级元素，以占满整个容器宽度 */
  width: 100%;
}
.join_home .join_bottom {
  padding: 0 20%;
  width: 130%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 15%;
  padding: 20px 0;
}
.join_home .join_bottom > label {
  cursor: pointer;
  position: relative;
  width: 100%;
}
.join_home .join_bottom > label > p {
  margin: 0;
  font-weight: bold;
}
.join_home .join_bottom > label > p::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-image: url("../img/x3.png");
}
.join_home .join_bottom > label > p::after {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 10px;
  position: absolute;
  left: 92%;
  top: 30%;
  background-image: url("../img/x2.png");
}
.join_home .join_bottom > input {
  display: none;
}
.join_home .join_bottom #subscribe3:checked + .way {
  display: none;
}
.join_home .join_bottom .way {
  padding: 0 20px;
}
.join_home .join_bottom .way .way1 {
  display: flex;
  margin: 20px 0;
  font-size: 14px;
}

@media (max-width: 980px) {
  header {
    height: 45px;
  }
  header .header_left {
    width: 50%;
    padding: 0 0;
  }
  header .header_left > li, header .header_left hr {
    display: none;
  }
  header .header_left .ham {
    display: block;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  header .header_left .SEARCH {
    margin: 0 25%;
  }
  header .header_left .SEARCH .search_div {
    margin: 5px 0 0 0;
    left: 45%;
  }
  header .header_right {
    width: 50%;
    height: 100%;
    padding: 0 0;
  }
  header .header_right > img {
    display: block;
    margin: 9px 25%;
  }
  header .header_right > a {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  header .header_right > a > img {
    display: block;
    margin: 9px 25%;
  }
  header .header_right > li {
    display: none;
  }
  nav {
    height: 70px;
  }
  nav .nav_top {
    margin: 1px 0;
  }
  nav .nav_top > div {
    width: 100%;
    left: 0;
  }
  nav .nav_top > div > a {
    padding: 3px 0;
    display: flex;
    justify-content: center;
  }
  nav .nav_top > div > a > img {
    height: 60px;
  }
  nav .nav_top > ul {
    display: none;
  }
  nav .nav_top > ul > li .menu {
    top: 10%;
  }
  nav .nav_bottom {
    display: none;
  }
  footer .footer_top {
    width: 100%;
    position: relative;
    left: 0%;
  }
  footer .footer_top > img {
    position: relative;
    left: 50%;
    width: 50%;
  }
  footer .footer_top .icon {
    position: absolute;
    top: 315%;
    left: 4%;
  }
  footer .footer_bottom {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  footer .footer_bottom .first {
    position: relative;
    left: 5%;
    top: 125px;
    width: 90%;
  }
  footer .footer_bottom .first .LTD {
    width: 300px;
  }
  footer .footer_bottom .second, footer .footer_bottom .third, footer .footer_bottom .forth, footer .footer_bottom .fifth {
    display: none;
  }
  footer .footer_bottom .sixth {
    width: 90%;
    position: relative;
    left: 5%;
    top: -145px;
  }
  .index_home > div > ul {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 20px;
  }
  .index_home > div > ul > li {
    padding: 10px 0;
    width: 100%;
    border-right: 1px solid #CCCCCC;
  }
  .index_home > div > div {
    padding: 0 0;
    width: 100%;
    justify-content: center;
  }
  .index_home > div > div > div {
    flex-direction: column;
  }
  .index_home > div > div > div .c1 {
    padding: 0 25%;
  }
  .index_home > div > div > div .c1 > a > img {
    width: 100%;
    height: 100%;
  }
  .index_home > div > div > div > hr {
    display: none;
  }
  .index_home > div > div > div > div {
    padding: 0 25%;
  }
  .index_home > div > div > div > div .p5 {
    display: none;
  }
  .index_home > div > div .small {
    margin: 30px 0;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    justify-content: center;
  }
  .index_home > div > div .small .small4 {
    width: 90%;
    border: 3px solid #DED1B4;
  }
  .story {
    flex-direction: column;
  }
  .story > div {
    width: 100%;
  }
  .story .story_right {
    width: 100%;
    margin: -5px 0;
  }
  .media {
    flex-direction: column;
  }
  .media > iframe {
    width: 100%;
    height: 432px;
  }
  .media > div {
    width: 100%;
  }
  .posts {
    padding: 50px 10px;
  }
  .posts .posts_content {
    width: 96%;
    padding: 20px 15px;
    flex-direction: column;
  }
  .posts .posts_content > div {
    margin: 0 0;
  }
  .product_home {
    padding: 10px;
  }
  .product_home .product_home_second {
    flex-direction: column;
  }
  .product_home .product_home_second > div {
    width: 100%;
  }
  .product_home .product_home_second > div > img {
    width: 55%;
  }
  .product_free_home {
    padding: 10px;
  }
  .product_free_home .forfree .forfree3 {
    flex-direction: column;
    padding: 10px;
    text-align: start;
  }
  .product_free_home .forfree .forfree3 > p {
    font-size: 24px;
  }
  .product_free_home .forfree .forfree3 > hr {
    transform: rotate(180deg);
    width: 100%;
  }
  .product_free_home .product_home_second {
    flex-direction: column;
  }
  .product_free_home .product_home_second > div {
    width: 100%;
  }
  .product_free_home .product_home_second > div > img {
    width: 55%;
  }
  .join_home {
    padding: 50px 5%;
  }
  .join_home .join_top .join_content .name .c_name .gender {
    right: 10%;
  }
  .join_home .join_bottom {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */