body {
    // width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 微軟正黑體, sans-serif;
}
li, a{
    list-style: none;
    text-decoration: none; /* 去掉底線 */
}
  
header{
    height: 35px;
    background-color: #a88f67;
    display: flex;
    justify-content: space-between;
    // position: fixed;
    .header_left {
        display: flex;
        position: relative;
        // left: 1%;
        align-items: center;
        >li {
            list-style: none;
            text-decoration: none; /* 去掉底線 */
            margin: 10px;
            >a {
                font-size: 15px;
                color: white;
                text-decoration: none; /* 去掉底線 */
            }
        }
        .ham{
            display: none;
            margin: 15px 0 0 0;
            >input{     //打勾小框框
                display: none;
                &::checked ~ .menu {
                    max-height: 300px;
                }
            }
            >label{
                // float: right;
                line-height: 50px;
                cursor: pointer;
            }
            #burger:checked + .ham_menu {
                display: block;
            }
            .ham_menu {
                // height: 100%;
                width: 250px;
                z-index: 2;
                clear: both;    //清除浮動，以確保.ham_menu不覆蓋在其他元素上。
                background-color: #fff;
                display: none;
                position: absolute;
                padding-left: 10px; 
                left: 0;
                top: 20px;

                >li {
                    padding: 5px;
                    border-bottom: 1px solid #9A9A9A;
                    // display: flex;
                    font-weight: bold;
                    text-decoration: none;
                    padding: 5px 0;
                    font-size: 16px;
                    color: #000;
                    justify-content: space-between;
                    cursor: pointer;
                    >label{     //第一層
                        display: flex;
                        padding-right: 50px;
                        cursor: pointer;
                        >div {
                            font-weight: bold;
                            text-decoration: none;
                            display: block;
                            padding: 10px 0;
                            font-size: 16px;
                            color: #000;
                        }
                        >img{
                            width: 25px;
                            height: 25px;
                            margin: auto 10px;
                            display: flex;
                        }
                    }
                    

                    //第二層
                    >input{     //打勾小框框
                        display: none;
                        // &::checked ~ .menu {
                        //     max-height: 300px;
                        // }
                    }
                    .ham_menu1{
                        display: none;
                        >li{
                            height: 25px;
                            margin: 10px 0 0 0;
                            border-bottom: 1px solid #9A9A9A;
                            >a{
                                color: #000;
                            }
                        }
                        >hr{
                            width: 99%;
                            position: absolute;
                            left: 0;
                            margin: 0 0;
                        }
                    }
                    #list1:checked + .ham_menu1 {
                        display: block;
                    }
                    #list2:checked + .ham_menu1 {
                        display: block;
                    }
                    #list3:checked + .ham_menu1 {
                        display: block;
                    }
                    #list4:checked + .ham_menu1 {
                        display: block;
                    }
                    #list5:checked + .ham_menu1 {
                        display: block;
                    }
                    #list6:checked + .ham_menu1 {
                        display: block;
                    }
                    #list7:checked + .ham_menu1 {
                        display: block;
                    }
                    #list8:checked + .ham_menu1 {
                        display: block;
                    }
                }
            }
        }
        .SEARCH{
            >input{     //打勾小框框
                display: none;
                &::checked ~ .menu {
                    max-height: 300px;
                }
            }
            >label{
                >img{
                    width: 25px;
                    height: 25px;
                    margin: 5px;
                    cursor: pointer;
                }
            }
            #search:checked + .search_div {
                display: block;
            }
            .search_div{
                z-index: 999;
                display: none;
                width: auto;
                height: 30px;
                position: absolute;
                >form{
                    display: flex;
                    >input:first-of-type {
                        width: 200px;
                        height: 30px;
                        border: 1px solid #8B8B8B;
                        font-size: 16px;
                        outline: none;
                    }
                    >input:first-of-type:focus {
                        border: 1px solid #ccc;
                        // padding-left: 5px;
                    }
                    >input:last-of-type {
                        /*button按钮border并不占据外围大小，设置高度42px*/
                        width: 50px;
                        height: auto;
                        // position: absolute;
                        background: #a88f67;
                        border: 1px solid #bc9440;
                        color: #fff;
                        font-size: 16px;
                        outline: none;
                        cursor: pointer;
                        }
                }
            }
        }
        
    }
    .header_right {
        display: flex;
        left: 55%;
        align-items: center;
        margin: 0 0;
        >img, >a>img{
            display: none;
        }
        >li, .login_content>label {
            list-style: none;
            text-decoration: none; /* 去掉底線 */
            margin: 10px;
            font-size: 15px;
            color: white;
            display: flex;
            align-items: center;
            cursor: pointer;
            >a {
                color: white;
                display: flex;
                align-items: center;
                text-decoration: none; /* 去掉底線 */
            }
            
        }
        .login_content{
            >input{
                display: none;
            }
            .cont{
                // display: flex;
                display: none;
                position: absolute;
                top: 6%;
                left: 0;
                width: 100%;
                height: auto;
                z-index: 999;
                color: #000;
                background-color: #fff;
                cursor: auto;
                border-bottom: 1px solid #9A9A9A;
                .login_left{
                    padding-bottom: 20px;
                    width: 50%;
                    margin: 0 0 20px 20%;
                    >p{
                        font-size: 14px;
                    }
                    >div{
                        width: 200px;
                        background-color: #000;
                        text-align: center;
                        >a{
                            color: #fff;
                            width: 100%;
                            height: 100%;
                            padding: 10px 0px;
                            display: inline-block;
                        }
                    }
                    >ul{
                        font-weight: bold;
                        margin: 20px 0 0 -40px;
                        >li{
                            font-weight: 400;
                            list-style-type: square;
                            color: #999999;
                            font-size: 14px;
                            // margin-left: 20px;
                            margin: 20px;
                            // &::marker{
                            //     list-style-type: square;
                            //     color: #999999;
                            //     font-size: 14px;
                            // }
                        }
                    }
                }
                .login_right{
                    width: 85%;
                    .g-3{
                        display: flex;
                        align-items: center;
                        margin: 10px 0;
                        .col-auto{
                            >input{
                                height: 27px;
                                &:focus{
                                    border: 1px solid #000;
                                    box-shadow: none;
                                }
                            }
                            
                        }
                        .login{
                            width: 80px;
                            height: 30px;
                            background-color: #000;
                            text-align: center;
                            >a{
                                color: #fff;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
                >hr{
                    margin:30px;
                }
            }
            #login:checked + .cont{
                display: flex;
                background-color: white;
            }
        }
    }
}

nav{
    // position: fixed;
    .nav_top{
        height: auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        >div{
            position: relative;
            left: 20%;
        }
        >ul{
            display: flex;
            align-items: flex-end;
            margin: 0;
            >li{
                margin: 0 10px;
                >a{                    
                    color: black;
                    font-weight: bold;
                }
                .menu{
                    display: flex;
                    display: none;
                    width: 100%;
                    height: 5%;
                    justify-content: end;
                    align-items: center;
                    position: absolute;
                    left: -3%;
                    >li{
                        margin: 5px 20px 0 0;
                        >a{
                            font-size: 14px;
                            color: #757575;
                        }
                    }
                }
                &:hover{
                    .menu{
                        display: block;
                        display: flex;
                        >li{
                            margin: 0 5px;
                            &:hover{
                               border-bottom: 1px solid #757575;
                            }
                        }
                    }
                }
            }
            
        }
    }
    >hr{
        margin: 10px 0 0 0;
    }
    .nav_bottom{
        padding: 18px;
        border-bottom: 2px solid #000;
    }
}

footer{
    color: #fff;
    background-color: #000;
    padding: 30px 0 30px 0;
    .footer_top{
        margin: 0 auto;
        width: 60%;
        display: flex;
        // position: relative;
        justify-content: space-between;
        .icon{
            display: flex;
            align-items: center;
            >a{
                margin-right: 20px;
            }
        }
    }
    .footer_bottom{
        width: 60%;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        justify-content: space-between; /* 平均分配空间 */
        .first{
            font-size: 14px;
            width: 100%;
            flex: 1; /* 平均分配宽度 */
            // margin: 0 30px;
        }
            .LTD{
                color: #8B8B8B;
                font-size: 12px;
            }
        .second, .third, .forth, .fifth{
            width: 15%;
            font-size: 14px;
            margin: 0 -10px;
            >ul{
                margin: 0 -40px;
                list-style-type: none;
                >li{
                    margin: 5px 0;
                    >a{
                        color: #fff;
                        &:hover{
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
            }
        }
        .sixth{
            color: #8B8B8B;
            width: 20%;
            font-size: 14px;
            >div{
                color: #fff;
                display: flex;
                justify-content: space-between;
            }
            
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index_home{
    .p1{
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    .p2{
        font-size: 28px;
        display: flex;
        justify-content: center;
        margin-top: -40px;
    }
    >div{
        >ul{
            display: flex;
            justify-content: center;
            background-color: #fff;
            >li{
                font-size: 18px;
                width: 150px;
                padding:  10px 15px;
                display: flex;
                justify-content: center;
                flex-direction: row;
                cursor: pointer;
                border: 1px solid #CCCCCC;
                border-right: none;
                &:last-child {
                    border-right: 1px solid #CCCCCC;
                }
                &:hover{
                    background-color: #DED1B4;
                }
                >a{
                    color: #000;
                }
            }
        }
        >div{
            padding: 0 20%;
            >div{
                width: auto;
                margin: 20px;
                display: flex;
                border: 7px solid #DED1B4;
                .c1{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                }
                >div{
                    width: 50%;
                    padding: 50px;
                    >p{
                        display: flex;
                        justify-content: center;
                    }
                    .p3{
                        font-size: 22px;
                        font-weight: bold;
                    }
                    .p4{
                        font-weight: bold;
                    }
                    .p5{
                        font-size: 15px;
                        text-align: center;
                        margin: 40px 0;
                    }
                    >div{
                        display: flex;
                        justify-content: center; /* 水平居中对齐 */
                        align-items: center; /* 垂直居中对齐 */
                        >p{
                            height: 20px;
                            border: 1px solid #9A9A9A;
                            border-right: none;
                            padding: 6px 40px;
                        }
                        >a{
                            border: 1px solid #9A9A9A;
                            padding: 5px 10px;
                            &:hover{
                                background-color: #DED1B4;
                            }
                        }
                        
                    }
                }
                &:last-child {
                    border: none;
                }
            }
            .small{
                .small4{
                    // width: 100%;
                    padding: 0;
                    margin: 0 10px;
                    display: flex;
                    flex-direction: column;
                    width: 25%;
                    border: 1px solid #DED1B4;
                    >a>img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.story{
    background-color: #EDEDED;
    display: flex;
    padding: 30px;
    >div{
        width: 50%;
        margin-right: 10px;
        >img{
            width: 100%;
        }
    }
    .story_right{
        width: 50%;
        margin-left: 10px;
        background-color: #fff;
        .story_title{
            color: #757575;
            padding: 50px;
            display: flex;
            justify-content: center;
            .c1, .c2, .c3{
                width: auto;
                margin: 0 10px;
                font-size: 24px;
                cursor: pointer;
                &:hover{
                    color: #000;
                    border-bottom: 3px dashed #000;
                }
                >a{
                    color: #757575;
                }
            }
            // .c2{
            //     width: auto;
            //     margin: 0 10px;
            //     font-size: 24px;
            //     cursor: pointer;
            //     &:hover{
            //         color: #000;
            //         border-bottom: 3px dashed #000;
            //     }
            //     >a{
            //         color: #757575;
            //     }
            // }
            // .c3{
            //     width: auto;
            //     margin: 0 10px;
            //     font-size: 24px;
            //     cursor: pointer;
            //     &:hover{
            //         color: #000;
            //         border-bottom: 3px dashed #000;
            //     }
            //     >a{
            //         color: #757575;
            //     }
            // }
        }
        // .story2, .story3{
        //     display: none;
        // }
        >div{
            .p1{
                display: flex;
                justify-content: center;
                font-size: 42px;
                margin-top: 0px;
            }
            .p2{
                display: flex;
                justify-content: center;
                font-size: 24px;
                margin-top: -40px;
                font-weight: bold;
            }
            .p3{
                display: flex;
                justify-content: center;
                font-size: 14px;
                padding: 20px 80px;
                color: #333;
            }
        }
        >p{
            display: flex;
            justify-content: center;
            >a{
                color: #000;
                border: 1px solid #000;
                background-color: #FBFAF6;
                padding: 7px;
            }
        }
    }
}

.media{
    background-color: #DED1B4;
    display: flex;
    height: auto;
    >iframe{
        width: 50%;
        height: auto;
    }
    >div{
        width: 25%;
        position: relative;
        >img{
            width: 100%;
            // object-fit: cover;  /* 將圖片放大以填滿容器，保持寬高比 */
        }
        .p1{
            width: 100%;
            color: #fff;
            position: absolute;
            top: 30%;
            text-align: center;
            font-size: 58px;
            text-shadow: 1px 1px 3px #000000;
        }
        >a{
            .p2{
                // width: 100%;
                color: #fff;
                background-color: rgba(0,0,0,0.6);
                border: 1px solid #fff;
                position: absolute;
                top: 57%;
                left: 40%;
                font-size: 16px;
                padding: 8px 25px;
            }    
        }
    }
}

.posts{
    padding: 50px 25%;
    background-color: #EDEDED;
    >div{
        .p1{
            font-size: 40px;
            display: flex;
            justify-content: center;
        }
        .p2{
            font-size: 28px;
            display: flex;
            justify-content: center;
            margin-top: -40px;
        }
    }
    .posts_content{
        display: flex;
        justify-content: center;
        >div{
            margin: 20px;
            background-color: #fff;
            >img{
                width: 100%;
            }
            >div{
                padding: 25px;
                .p3{
                    font-size: 22px;
                    margin: -3px 0;
                }
                .p4{
                    color: #7F8082;
                    margin: 10px 0;
                }
                .p5{
                    color: #333;
                    margin: -5px 0 20px 0;
                }
            }
        }
    }
}

.product_home{
    padding: 10px 20%;
    font-size: 14px;
    .product_home_first{
        color: #9A9A9A;
        >a{
            color: #9A9A9A;
            &:hover{
                border-bottom: 1px solid #9A9A9A;
            }
        }
    }
    .product_home_second{
        height: auto;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #9A9A9A;
        >div{
            width: 50%;
            >img{
                margin: 0 20%;
                padding: 5px 0;
            }
        }
        >div{
            width: 50%;
            .p1{
                color: #333;
            }
            .p2{
                font-size: 18px;
                font-weight: bold;
                margin-top: 30px;
            }
            .price{
                display: flex;
                margin: 30px 0;
                align-items: center;
                >div{
                    margin-right: 50px;
                }
                .price_first{
                    font-size: 18px;
                    font-weight: bold;
                }
                .price_third{
                    color: #A88F67;
                }
            }
            .add_cart{
                display: flex;
                .form-select{
                    width: 20%;
                    margin-right: 50px;
                    // border-width: 0;
                    &:focus{
                        box-shadow: 2px 2px 1px  rgba(61, 128, 236, 0.5);
                    }
                }
                >div{
                    margin: 0 40px 0 0;
                }
            }
            .btn{
                background-color: #000;
                &:hover{
                    background-color: #A88F67;
                }
            }
            .icon{
                margin: 30px 0;
                >a{
                    >img{
                        width: 35px;
                        height: 35px;
                        margin: 0 2px;
                    }
                }
            }
        }
    }
}

.product_free_home{
    padding: 10px 20%;
    font-size: 14px;
    .product_home_first{
        color: #9A9A9A;
        >a{
            color: #9A9A9A;
            &:hover{
                border-bottom: 1px solid #9A9A9A;
            }
        }
    }
    .forfree{
        .forfree1{
            margin: 50px 0 0 0;
            >p{
                font-size: 24px;
                font-weight: bold;
            }
            .forfree_icon{
                display: flex;
                justify-content: end;
                align-items: center;
                >img{
                    width: 28px;
                    margin: 0 8px;
                }
            }
        }
        .forfree2{
            margin: 15px 0;
            >img{
                width: 100%;
            }
        }
        .forfree3{
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid #000;
            padding: 20px 20px;
            >p{
                margin: 0 10px;
                width: auto;
                font-size: 28px;
                font-weight: bold;
            }
            >hr{
                height: 100%;
                width: 50px;
                transform: rotate(90deg);
                /* 旋转元素，将水平线变成垂直线 */
            }
            >div{
                margin: 0 10px;
                >li{
                    list-style-type: disc;
                    >span{
                        color: #bc9440;
                    }
                }
            }
        }
    }
    .product_home_second{
        height: auto;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        >div{
            width: 50%;
            >img{
                margin: 0 20%;
                padding: 5px 0;
            }
        }
        >div{
            width: 50%;
            .p1{
                color: #333;
            }
            .p2{
                font-size: 18px;
                font-weight: bold;
                margin-top: 30px;
            }
            .price{
                display: flex;
                margin: 30px 0;
                align-items: center;
                >div{
                    margin-right: 50px;
                }
                .price_first{
                    font-size: 18px;
                    font-weight: bold;
                }
                .price_third{
                    color: #A88F67;
                }
            }
            .add_cart{
                display: flex;
                .form-select{
                    width: 20%;
                    margin-right: 50px;
                    // border-width: 0;
                    &:focus{
                        box-shadow: 2px 2px 1px  rgba(61, 128, 236, 0.5);
                    }
                }
                .modal{
                    margin: 0 40px 0 0;
                    // .modal-dialog{
                    //     .modal-content{
                    //         .modal-body{
                    //             display: flex;
                    //         }
                    //     }
                    // }
                }
            }
            .btn{
                background-color: #000;
                &:hover{
                    background-color: #A88F67;
                }
            }
            .icon{
                margin: 30px 0;
                >a{
                    >img{
                        width: 35px;
                        height: 35px;
                        margin: 0 2px;
                    }
                }
            }
        }
    }
}

.join_home{
    padding: 50px 35%;
    .join_top{
        .title{
            font-weight: bold;
            font-size: 28px;
        }
        .join_content{
            .name{
                .name_0{
                    font-size: 16px;
                    font-weight: bold;
                    margin: 10px 0;
                }
                .c_name{
                    margin: 0 0 20px 0;
                    position: relative;
                    .form-label{
                        font-size: 14px;
                        margin: 0 0;
                        >span{
                            color: #999;
                        }
                    }
                    .form-control{
                        width: 65%;
                        border-radius: 0;
                        height: 30px;
                        font-size: 14px;
                        padding: 0 5px;
                    }
                    input::placeholder{
                        color: #A88F67;
                    }
                    .gender{
                        display: flex;
                        position: absolute;
                        right: 0;
                        top: 53%;
                        >input{
                            display: none;
                        }
                        >label{
                            cursor: pointer;
                            margin-right: 20px;
                            display: flex;
                            align-items: center;
                            &::before{
                                content: " ";
                                border: 1px solid #9A9A9A;
                                border-radius: 20px;
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                margin-right: 2px;
                            }
                        }
                        #male:checked + .male::after{
                            content: " ";
                            background-color: #9A9A9A;
                            border-radius: 20px;
                            display: inline-block;
                            width: 9px;
                            height: 9px;
                            position: absolute;
                            left: 3px;
                        }
                        // #male:checked + .female::after{
                        //     display: none;
                        // }
                        #female:checked + .female::after{
                            content: " ";
                            background-color: #9A9A9A;
                            border-radius: 20px;
                            display: inline-block;
                            width: 9px;
                            height: 9px;
                            position: absolute;
                            left: 72px;
                        }
                        // #female:checked + .male::after{
                        //     display: none;
                        // }
                    }
                }
            }
            .login{
                .name_0{
                    font-size: 16px;
                    font-weight: bold;
                    margin: 10px 0;
                }
                .c_name{
                    margin: 0 0 20px 0;
                    .form-label{
                        font-size: 14px;
                        margin: 0 0;
                        >span{
                            color: #999;
                        }
                    }
                    .form-control{
                        border-radius: 0;
                        height: 30px;
                        font-size: 14px;
                        padding: 0 5px;
                    }
                    input::placeholder{
                        color: #A88F67;
                    }
                }
                .c_name_bir{
                    margin: 0 0 20px 0;
                    .form-label{
                        font-size: 14px;
                        margin: 0 0;
                        >span{
                            color: #999;
                        }
                    }
                    .form-control{
                        border-radius: 0;
                        height: 30px;
                        font-size: 14px;
                        padding: 0 5px;
                    }
                    >div{
                        display: flex;
                        align-items: center;
                        .form-select{
                            width: auto;
                            height: 30px;
                            margin: 0 10px;
                            font-size: 14px;
                            &:first-child{
                                margin-left: 0px;
                            }
                            &:focus{
                                border-color: #ccc;
                                box-shadow: 1px 1px 1px  #ccc;
                            }
                            >option{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .sub{
                >div{
                    display: flex;
                    align-items: center;
                    margin: 5px 0;
                    >label{
                        >p{
                            font-size: 14px;
                            font-weight: bold;
                            margin: auto 10px;
                        }
                    }
                }
            }
            .send{
                background-color: #000;
                width: 30%;
                padding: 5px 0;
                margin-top: 40px;
                text-align: center;
                cursor: pointer;
                &:hover{
                    background-color: #A88F67;
                }
                .w-200{
                    color: #fff;
                    display: block; /* 将链接变为块级元素，以占满整个容器宽度 */
                    width: 100%;
                }
            }
        }
    }
    .join_bottom{
        padding: 0 20%;
        width: 130%;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        margin-top: 15%;
        padding: 20px 0;
        >label{
            cursor: pointer;
            position: relative;
            width: 100%;
            >p{
                margin: 0;
                font-weight: bold;
                &::before{
                    content: " ";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;
                    background-image: url('../img/x3.png');
                }
                &::after{
                    content: " ";
                    display: inline-block;
                    width: 17px;
                    height: 10px;
                    position: absolute;
                    left: 92%;
                    top: 30%;
                    background-image: url('../img/x2.png');
                }
            }
        }
        >input{
            display: none;
        }
        // #subscribe3:checked{
        //     >p{
        //         &::after{
        //             background-image: url('../img/x1.png');
        //         }
        //     }
        // }
        #subscribe3:checked + .way {
            display: none;
        }
        .way{
            padding: 0 20px;
            .way1{
                display: flex;
                margin: 20px 0;
                font-size: 14px;
            }
        }
    }
}

.member_home{
    
}

@media(max-width: 980px){
    header{
        height: 45px;
        .header_left{
            width: 50%;
            padding: 0 0;
            >li, hr{
                display: none;
            }
            .ham{
                display: block;
                width: 50%;
                display: flex;
                justify-content: center;
            }
            .SEARCH{
                margin: 0 25%;
                .search_div{
                    margin: 5px 0 0 0;
                    left: 45%;
                }
            }
        }
        .header_right{
            width: 50%;
            height: 100%;
            padding: 0 0;
            // margin: 5px 0;
            >img{
                display: block;
                margin: 9px 25%;
            }
            >a{
                // width: 25%;
                width: 50%;
                display: flex;
                justify-content: center;
                >img{
                    display: block;
                    margin: 9px 25%;
                }
            }
            >li{
                display: none;
            }
        }
    }
    nav{
        height: 70px;
        .nav_top{
            margin: 1px 0;
            >div{
                width: 100%;
                left: 0;
                >a{
                    padding: 3px 0;
                    display: flex;
                    justify-content: center;
                    >img{
                        height: 60px;
                    }
                }
            }
            >ul{
                display: none;
                >li{
                    .menu{
                        top: 10%;
                    }
                }
            }

        }
        .nav_bottom{
            display: none;
        }
    }
    footer{
        position: relative;
        .footer_top{
            width: 100%;
            // position: relative;
            left: 0%;
            >img{
                position: relative;
                left: 50%;
                width: 50%;
            }
            .icon{
                position: absolute;
                top: 89%;
                left: 4%;
            }
        }
        .footer_bottom{
            flex-direction: column;
            // padding: 0 10%;
            width: 100%;
            height: auto;
            position: relative;
            .first{
                position: relative;
                left: 5%;
                top: 125px;
                width: 90%;
                .LTD{
                    width: 300px;
                }
            }
            .second, .third, .forth, .fifth{
                display: none;
            }
            .sixth{
                width: 90%;
                position: relative;
                left: 5%;
                top: -145px;
            }

        }
    }
    .index_home{
        >div{
            >ul{
                display: grid;
                grid-template-columns: 50% 50%;
                padding: 0 20px;
                >li{
                    padding: 10px 0;
                    width: 100%;
                    border-right: 1px solid #CCCCCC;
                }
            }
            >div{
                padding: 0 0;
                width: 100%;
                justify-content: center;
                >div{
                    flex-direction: column;
                    .c1{
                        padding: 0 25%;
                        >a>img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    >hr{
                        display: none;
                    }
                    >div{
                        padding: 0 25%;
                        .p5{
                            display: none;
                        }
                    }
                }
                .small{
                    margin: 30px 0;
                    padding: 0 20px;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-gap: 30px;
                    justify-content: center;
                    .small4{
                        width: 90%;
                        border: 3px solid #DED1B4;
                        
                    }
                }
            }
        }
    }
    .story{
        flex-direction: column;
        >div{
            width: 100%;

        }
        .story_right{
            width: 100%;
            margin: -5px 0;
        }
    }
    .media{
        flex-direction: column;
        >iframe{
            width: 100%;
            height: 432px;
        }
        >div{
            width: 100%;
        }
    }
    .posts{
        padding: 50px 10px;
        .posts_content{
            width: 96%;
            padding: 20px 15px;
            flex-direction: column;
            >div{
                margin: 0 0;
            }
        }
    }
    .product_home{
        padding: 10px ;
        .product_home_second{
            flex-direction: column;
            >div{
                width: 100%;
                >img{
                    width: 55%;
                }
            }
        }
    }
    .product_free_home{
        padding: 10px ;
        .forfree{
            .forfree3{
                flex-direction: column;
                padding: 10px;
                text-align: start;
                >p{
                    font-size: 24px;
                }
                >hr{
                    transform: rotate(180deg);
                    width: 100%;
                }
                // >div{

                // }
            }
        }
        .product_home_second{
            flex-direction: column;
            >div{
                width: 100%;
                >img{
                    width: 55%;
                }
            }
        }
    }
    .join_home{
        padding: 50px 5%;
        .join_top{
            .join_content{
                .name{
                    .c_name{
                        .gender{
                            right: 10%;
                        }
                    }
                }
            }
        }
        .join_bottom{
            width: 100%;
        }
    }
}