@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 微軟正黑體, sans-serif;
}

li, a {
  list-style: none;
  text-decoration: none; /* 去掉底線 */
}

header {
  height: auto;
  background-color: #a88f67;
  display: flex;
}
header .header_left {
  display: flex;
  position: relative;
  left: 5%;
}
header .header_left > li {
  list-style: none;
  text-decoration: none; /* 去掉底線 */
  margin: 10px;
}
header .header_left > li > a {
  color: white;
  text-decoration: none; /* 去掉底線 */
}
header .header_left > img {
  width: 32px;
  height: 32px;
  margin: 5px;
  cursor: pointer;
}
header .header_right {
  display: flex;
  position: relative;
  left: 55%;
}
header .header_right > li {
  list-style: none;
  text-decoration: none; /* 去掉底線 */
  margin: 10px;
}
header .header_right > li > a {
  color: white;
  text-decoration: none; /* 去掉底線 */
}

nav .nav_top {
  height: auto;
  margin-top: 20px;
  display: flex;
}
nav .nav_top > div {
  position: relative;
  left: 10%;
}
nav .nav_top > ul {
  display: flex;
  position: relative;
  left: 50%;
  align-items: flex-end;
}
nav .nav_top > ul > li {
  margin: 0 10px;
}
nav .nav_top > ul > li:hover .menu {
  display: block;
}
nav .nav_top > ul > li > a {
  color: black;
  font-weight: bold;
}
nav .nav_top > ul > li .menu {
  display: none;
  position: absolute;
  top: 120%;
}
nav .nav_bottom {
  padding: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .p1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.home .p2 {
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-top: -40px;
}
.home > div > ul {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.home > div > ul > li {
  font-size: 18px;
  width: 150px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  border-right: none;
}
.home > div > ul > li:last-child {
  border-right: 1px solid #CCCCCC;
}
.home > div > ul > li:hover {
  background-color: #DED1B4;
}
.home > div > ul > li > a {
  color: #000;
}
.home > div > div {
  padding: 0 20%;
}
.home > div > div > div {
  width: auto;
  margin: 20px;
  display: flex;
  border: 7px solid #DED1B4;
}
.home > div > div > div .c1 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.home > div > div > div > div {
  width: 50%;
  padding: 50px;
}
.home > div > div > div > div > p {
  display: flex;
  justify-content: center;
}
.home > div > div > div > div .p3 {
  font-size: 22px;
  font-weight: bold;
}
.home > div > div > div > div .p4 {
  font-weight: bold;
}
.home > div > div > div > div .p5 {
  font-size: 15px;
  text-align: center;
  margin: 40px 0;
}
.home > div > div > div > div > div {
  display: flex;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
}
.home > div > div > div > div > div > p {
  height: 20px;
  border: 1px solid #9A9A9A;
  border-right: none;
  padding: 6px 40px;
}
.home > div > div > div > div > div > a {
  border: 1px solid #9A9A9A;
  padding: 5px 10px;
}
.home > div > div > div:last-child {
  border: none;
}
.home > div > div > div .small4 {
  padding: 0;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #DED1B4;
}
.home > div > div > div .small4 > a > img {
  width: 100%;
}

.story {
  background-color: #EDEDED;
  display: flex;
  padding: 30px;
}
.story > div {
  width: 50%;
  margin-right: 10px;
}
.story > div > img {
  width: 100%;
}
.story .story_right {
  width: 50%;
  margin-left: 10px;
  background-color: #fff;
}
.story .story_right .story_title {
  color: #757575;
  padding: 50px;
  display: flex;
  justify-content: center;
}
.story .story_right .story_title > p {
  width: auto;
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
}
.story .story_right .story_title > p:hover {
  color: #000;
  border-bottom: 3px dashed #000;
}
.story .story_right .story2, .story .story_right .story3 {
  display: none;
}
.story .story_right > div .p1 {
  display: flex;
  justify-content: center;
  font-size: 42px;
  margin-top: 0px;
}
.story .story_right > div .p2 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: -40px;
  font-weight: bold;
}
.story .story_right > div .p3 {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 20px 80px;
  color: #333;
}
.story .story_right > p {
  display: flex;
  justify-content: center;
}
.story .story_right > p > a {
  color: #000;
  border: 1px solid #000;
  background-color: #FBFAF6;
  padding: 7px;
}

.media {
  background-color: #DED1B4;
  display: flex;
  height: auto;
}
.media > iframe {
  width: 50%;
  height: auto;
}
.media > div {
  width: 25%;
  position: relative;
}
.media > div > img {
  width: 100%;
}
.media > div .p1 {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 30%;
  text-align: center;
  font-size: 58px;
  text-shadow: 1px 1px 3px #000000;
}
.media > div > a .p2 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #fff;
  position: absolute;
  top: 57%;
  left: 40%;
  font-size: 16px;
  padding: 8px 25px;
}

.posts {
  background-color: #EDEDED;
  margin: 0;
}/*# sourceMappingURL=main.css.map */